*{
    margin: 0;
    padding: 0;
}
body {
    width: 94%;
    margin: auto;;
    background-color: lightgray;
    color: black
}
h1{
    font-size: 50px;
    text-align: center;
}
h2{
    text-align: center;
}
img{
    width:100%;
    height:auto;
}
#emilyPortraitContainer{
    display:flex;
    margin: auto;
       /* flex-direction: row; */
    align-content: center;
    justify-content: space-between;
    column-gap: 25px;
}
.emilyHomePageImg{
    width: 28%;
}
#intruduction{
    font-size: larger;
    flex-wrap: wrap;
    border: medium;
    border-style:dashed;
    border-color: blueviolet;
}
#splash-text{
    padding-top: 10px;
    margin-left: 30%;
    margin-right: 30%;
    display:inline;
}
p{  
    padding: 5px 10px; /* added */
}